@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 12px;
}

ul {
  display: flex;
  justify-content: space-between;
}

ul li {
  padding: 0 15px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: #fecda6;
}

.logo img {
  width: 15px;
  filter: invert(1);
}
.logo span {
  font-size: 20px;
  font-weight: 700;
  padding: 0 6px;
}

.main {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  padding: 2px;
}

.container {
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: auto;
  padding: 20px;
}

.container h1 {
  padding: 12px 0;
}

.btn {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#resultCont {
  width: 230px;
}
#resultCont div::first-letter {
  text-transform: capitalize;
}
label {
  font-size: 20px;
}
#username {
  width: 58vh;
  padding: 3px 12px;
  border-radius: 5px;
  border-color: black;
  border-radius: 4px;
  font-size: 20px;
}
footer {
  font-size: 12px;
  background-color: black;
  color: white;
  display: flex;
  padding: 12px;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .container {
    font-size: 12px;
    padding: 60px;
  }
  nav {
    flex-direction: column;
  }
  .logo {
    padding: 6px 0;
  }
  .logo img {
    width: 15px;
    filter: invert(1);
  }
  .logo span {
    font-size: 20px;
  }
}
